<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="Main">
<div class="container space-1 space-3--lg numbers">
    <div class="row">
        <f:if condition="{data.header}">
            <div class="col-12 header">
                <h2 class="h3 text-center">{data.header}</h2>
            </div>
        </f:if>
    </div>
    <div class="row row-number">
        <f:for each="{numbers}" as="number" iteration="numberIteration">
            <div class="col-md-3 col-12">
                <div class="text-center number">
                    <i class="icon-presentation fa fa-{number.icon} mb-4"></i>
                    <h3 class="h5 title">{number.title}</h3>
                    <p class="mb-0 description">{number.description}</p>
                </div>
            </div>
        </f:for>
    </div>
</div>
</f:section>
</html>