<div class="container space-1 space-2--lg">
    <f:for each="{timelines}" as="timeline" iteration="timelineIteration">
        <div class="row">
            <div class="col-md-4{f:if(condition: '{timelineIteration.isEven}', then: ' order-3', else: ' order-1')}">
                <h3>{timeline.title}</h3>
            </div>
            <div class="col-md-4 order-2">
                <f:for each="{timeline.image}" as="image" iteration="imageIteration">
                    <f:if condition="{imageIteration.isFirst}">
                        <f:image image="{image}" />
                    </f:if>
                </f:for>
            </div>
            <div class="col-md-4{f:if(condition: '{timelineIteration.isEven}', then: ' order-1', else: ' order-3')}">
                <f:format.html>{timeline.description}</f:format.html>
            </div>
        </div>
    </f:for>
</div>