<footer class="bg-dark">
    <div class="container space-2">
        <div class="row justify-content-md-between">
            <div class="col-6 col-md-3 col-lg-2 order-lg-3 mb-7 mb-lg-0">
                <h3 class="h6 text-white mb-3">About</h3>

                <!-- List Group -->
                <div class="list-group list-group-flush list-group-transparent">
                    <a class="list-group-item list-group-item-action" href="../pages/about-agency.html">About Agency</a>
                    <a class="list-group-item list-group-item-action" href="../pages/about-start-up.html">About Start-Up</a>
                    <a class="list-group-item list-group-item-action" href="../pages/services-agency.html">Services Agency</a>
                    <a class="list-group-item list-group-item-action" href="../pages/services-start-up.html">Services Start-Up</a>
                </div>
                <!-- End List Group -->
            </div>

            <div class="col-6 col-md-3 col-lg-2 order-lg-4 mb-7 mb-lg-0">
                <h3 class="h6 text-white mb-3">Company</h3>

                <!-- List Group -->
                <div class="list-group list-group-flush list-group-transparent">
                    <a class="list-group-item list-group-item-action" href="../pages/contacts-agency.html">Contact Us</a>
                    <a class="list-group-item list-group-item-action" href="../pages/help.html">Help</a>
                    <a class="list-group-item list-group-item-action" href="../pages/careers.html">Careers</a>
                    <a class="list-group-item list-group-item-action" href="../pages/terms.html">Terms &amp; Conditions</a>
                    <a class="list-group-item list-group-item-action" href="../pages/privacy.html">Privacy &amp; Policy</a>
                </div>
                <!-- End List Group -->
            </div>

            <div class="col-6 col-md-3 col-lg-2 order-lg-5 mb-7 mb-lg-0">
                <h3 class="h6 text-white mb-3">Shop</h3>

                <!-- List Group -->
                <div class="list-group list-group-flush list-group-transparent">
                    <a class="list-group-item list-group-item-action" href="../shop/classic.html">Classic</a>
                    <a class="list-group-item list-group-item-action" href="../shop/single-product.html">Single Product</a>
                    <a class="list-group-item list-group-item-action" href="../shop/checkout.html">Checkout</a>
                </div>
                <!-- End List Group -->
            </div>

            <div class="col-6 col-md-3 col-lg-2 order-lg-6 mb-7 mb-lg-0">
                <h3 class="h6 text-white mb-3">Social</h3>

                <!-- List -->
                <div class="list-group list-group-flush list-group-transparent">
                    <a class="list-group-item list-group-item-action" href="#">
                        <i class="fab fa-facebook-f min-width-3 text-center mr-2"></i>
                        Facebook
                    </a>
                    <a class="list-group-item list-group-item-action" href="#">
                        <i class="fab fa-twitter min-width-3 text-center mr-2"></i>
                        Twitter
                    </a>
                    <a class="list-group-item list-group-item-action" href="#">
                        <i class="fab fa-dribbble min-width-3 text-center mr-2"></i>
                        Dribbble
                    </a>
                    <a class="list-group-item list-group-item-action" href="#">
                        <i class="fab fa-github min-width-3 text-center mr-2"></i>
                        GitHub
                    </a>
                </div>
                <!-- End List -->
            </div>

            <div class="col-lg-4 order-lg-1 d-flex align-items-start flex-column">
                <a class="d-inline-block mb-5" href="index.html" aria-label="Space">
                    <f:image src="EXT:yord/Resources/Public/Images/logo-short.png" alt="Logo" width="40" height="40" />
                </a>
            </div>
        </div>
    </div>
</footer>