<a id="skippy" class="sr-only sr-only-focusable u-skippy" href="#content">
    <div class="container">
        <span class="u-skiplink-text">Aller au contenu principal</span>
    </div>
</a>

<header id="header" class="u-header u-header--modern u-header--bordered u-header--abs-top-2nd-screen-lg u-header--show-hide-lg"
        data-header-fix-moment="50"
        data-header-fix-effect="slide">
    <div class="u-header__section">
        <div id="logoAndNav" class="container-fluid">
            <nav class="js-mega-menu navbar navbar-expand-lg u-header__navbar">
                <div class="u-header__navbar-brand-wrapper">
                    <f:link.typolink parameter="1" class="navbar-brand u-header__navbar-brand" additionalAttributes="{ariaLabel: 'Accueil'}">
                        <f:image src="EXT:yord/Resources/Public/Images/logo.png" class="u-header__navbar-brand-default" alt="Logo" width="266" height="50" />
                        <f:image src="EXT:yord/Resources/Public/Images/logo.png" class="u-header__navbar-brand-mobile" alt="Logo" width="133" height="20" />
                    </f:link.typolink>
                </div>
                <button type="button" class="navbar-toggler btn u-hamburger u-header__hamburger"
                        aria-label="Toggle navigation"
                        aria-expanded="false"
                        aria-controls="navBar"
                        data-toggle="collapse"
                        data-target="#navBar">
                    <span class="d-none d-sm-inline-block">Menu</span>
                    <span id="hamburgerTrigger" class="u-hamburger__box ml-3">
                        <span class="u-hamburger__inner"></span>
                    </span>
                </button>
                <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse py-0">
                    <ul class="navbar-nav u-header__navbar-nav">

                        <f:render partial="Structure/Menu" arguments="{_all}" />
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>