<!-- Skippy -->
<a id="skippy" class="sr-only sr-only-focusable u-skippy" href="#content">
    <div class="container">
        <span class="u-skiplink-text">Aller au contenu principal</span>
    </div>
</a>
<!-- End Skippy -->

<!-- ========== HEADER ========== -->
<header id="header" class="u-header u-header--modern u-header--bordered u-header--sticky-top-lg">
    <div class="u-header__section">
        <div id="logoAndNav" class="container-fluid">
            <nav class="js-mega-menu navbar navbar-expand-lg u-header__navbar">
                <div class="u-header__navbar-brand-wrapper">
                    <f:link.typolink parameter="1" class="navbar-brand u-header__navbar-brand" additionalAttributes="{ariaLabel: 'Accueil'}">
                        <f:image src="EXT:yord/Resources/Public/Images/logo.png" class="u-header__navbar-brand-default" alt="Logo" width="133" height="25" />
                        <f:image src="EXT:yord/Resources/Public/Images/logo.png" class="u-header__navbar-brand-mobile" alt="Logo" width="133" height="20" />
                    </f:link.typolink>
                </div>
                <button type="button" class="navbar-toggler btn u-hamburger u-header__hamburger"
                        aria-label="Toggle navigation"
                        aria-expanded="false"
                        aria-controls="navBar"
                        data-toggle="collapse"
                        data-target="#navBar">
                    <span class="d-none d-sm-inline-block">Menu</span>
                    <span id="hamburgerTrigger" class="u-hamburger__box ml-3">
                        <span class="u-hamburger__inner"></span>
                    </span>
                </button>
                <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse py-0">
                    <ul class="navbar-nav u-header__navbar-nav">

                        <f:render partial="Structure/Menu" arguments="{_all}" />

                        <f:comment>
                        <li class="nav-item u-header__navbar-icon u-header__navbar-v-divider">
                            <a class="btn btn-xs btn-icon btn-text-dark u-header__search-toggle" href="javascript:;" role="button"
                               aria-haspopup="true"
                               aria-expanded="false"
                               aria-controls="search"
                               data-unfold-target="#search"
                               data-unfold-hide-on-scroll="false"
                               data-unfold-type="css-animation"
                               data-unfold-duration="300"
                               data-unfold-delay="300"
                               data-unfold-animation-in="slideInUp">
                                <i class="fa fa-search btn-icon__inner"></i>
                            </a>

                            <form id="search" class="js-focus-state input-group form u-header__search u-unfold--css-animation u-unfold--hidden">
                                <input class="form-control form__input" type="search" placeholder="Search Space">
                                <div class="input-group-addon u-header__search-addon p-0">
                                    <button class="btn btn-primary u-header__search-addon-btn" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </li>
                        </f:comment>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>