<f:for each="{main}" as="menu" iteration="menuIteration">
    <li class="nav-item {f:if(condition: '{menu.children}', then: 'hs-has-sub-menu')} u-header__nav-item{f:if(condition: '{menu.active}', then: ' active')}"
        data-event="hover"
        data-animation-in="fadeInUp"
        data-animation-out="fadeOut">

        <f:link.typolink parameter="{menu.link}" target="{menu.target}" title="{menu.title}" class="nav-link u-header__nav-link" additionalAttributes="{aria-haspopup: 'true', aria-expanded: 'false', aria-labelledby: 'menu{menu.data.uid}'}">
            {menu.title}
            <f:if condition="{menu.children}">
                <i class="fa fa-angle-down u-header__nav-link-icon"></i>
            </f:if>
        </f:link.typolink>
        <f:if condition="{menu.children}">
            <ul id="menu{menu.data.uid}" class="list-inline hs-sub-menu u-header__sub-menu mb-0" style="min-width: 220px;">
                <f:render partial="Structure/SecondMenu" arguments="{second: menu.children}" />
            </ul>
        </f:if>
    </li>
</f:for>
