<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header">

    <f:if condition="{gallery.position.noWrap} != 1">
        <f:render partial="Header/All" arguments="{_all}" />
    </f:if>

</f:section>
<f:section name="Main">
    <div class="container space-1 space-2--lg">
        <div class="ce-textpic ce-{gallery.position.horizontal} ce-{gallery.position.vertical}{f:if(condition: gallery.position.noWrap, then: ' ce-nowrap')}">
            <div class="row align-items-lg-center">
                <div class="col-md-12">
                    <div class="pr-lg-4">
                        <f:render partial="Media/Gallery" arguments="{_all}" />
                    </div>
                </div>
            </div>
        </div>

    </div>

</f:section>
</html>
