<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:vhs="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header">

    <f:if condition="{gallery.position.noWrap} != 1">
        <f:render partial="Header/All" arguments="{_all}" />
    </f:if>

</f:section>
<f:section name="Main">
    <f:if condition="{data.colPos} == 10">
        <f:then>
            <f:for each="{vhs:content.resources.fal(uid: '{data.uid}')}" as="image" iteration="imageIterator">
                <f:if condition="{imageIterator.isFirst}">
                    <div class="gradient-overlay-half-dark-v1 bg-img-hero" style="background-image: url('{f:image.url(src: \'{image.url}\')}');">
                        <div class="d-lg-flex align-items-lg-center flex-lg-column">
                            <div class="container space-3 space-4-top--lg">
                                <div class="w-md-50">
                                    <h1 class="display-4 font-size-48--md-down text-white">{data.header}</h1>
                                    <p class="lead text-white">{data.subheader}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </f:if>
            </f:for>
        </f:then>
        <f:else>
            <div class="ce-textpic ce-{gallery.position.horizontal} ce-{gallery.position.vertical}{f:if(condition: gallery.position.noWrap, then: ' ce-nowrap')}">
                <f:if condition="{gallery.position.vertical} != 'below'">
                    <f:render partial="Media/Gallery" arguments="{_all}" />
                </f:if>

                <f:if condition="{data.bodytext}">
                    <f:then>
                        <div class="ce-bodytext">
                            <f:if condition="{gallery.position.noWrap}">
                                <f:render partial="Header/All" arguments="{_all}" />
                            </f:if>
                            <f:format.html>{data.bodytext}</f:format.html>
                        </div>
                    </f:then>
                    <f:else>
                        <f:if condition="{gallery.position.noWrap}">
                            <f:if condition="{data.header}">
                                <div class="ce-bodytext">
                                    <f:render partial="Header/All" arguments="{_all}" />
                                </div>
                            </f:if>
                        </f:if>
                    </f:else>
                </f:if>

                <f:if condition="{gallery.position.vertical} == 'below'">
                    <f:render partial="Media/Gallery" arguments="{_all}" />
                </f:if>
            </div>
        </f:else>
    </f:if>


</f:section>
</html>
