<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header">

    <f:if condition="{gallery.position.noWrap} != 1">
        <f:render partial="Header/All" arguments="{_all}" />
    </f:if>

</f:section>
<f:section name="Main">
    <div class="container space-1 space-2--lg">
        <div class="ce-textpic ce-{gallery.position.horizontal} ce-{gallery.position.vertical}{f:if(condition: gallery.position.noWrap, then: ' ce-nowrap')}">
            <div class="row align-items-lg-center">
                <f:if condition="{data.bodytext}">
                    <f:then>
                        <div class="col-md-{f:if(condition: '{data.imageorient} == \'0\' || {data.imageorient} == \'8\'', then: '12', else: '6')} order-md-{f:if(condition: '{data.imageorient} == \'25\' || {data.imageorient} == \'8\'', then: '1', else: '2')} mb-5 mb-md-0">
                            <div class="mb-4">
                                <f:if condition="{data.bodytext}">
                                    <f:then>
                                        <div class="ce-bodytext">
                                            <f:if condition="{data.header}">
                                                <h2 class="h3">{data.header}</h2>
                                            </f:if>
                                            <f:format.html>{data.bodytext}</f:format.html>
                                        </div>
                                    </f:then>
                                </f:if>
                            </div>
                        </div>


                        <div class="col-md-{f:if(condition: '{data.imageorient} == \'0\' || {data.imageorient} == \'8\'', then: '12', else: '6')} order-md-{f:if(condition: '{data.imageorient} == \'25\' || {data.imageorient} == \'8\'', then: '2', else: '1')}">
                            <div class="pr-lg-4">
                                <f:render partial="Media/Gallery" arguments="{_all}" />
                            </div>
                        </div>
                    </f:then>
                    <f:else>
                        <div class="col-md-12">
                            <div class="pr-lg-4">
                                <f:render partial="Media/Gallery" arguments="{_all}" />
                            </div>
                        </div>
                    </f:else>
                </f:if>
            </div>
        </div>

    </div>

</f:section>
</html>
