.card .card-body {
    color: #212529;
}

.footer > a:first-child {
    padding-bottom: 0;
}

.footer > a:last-child {
    padding-top: 0;
}

.frame-type-image.frame-layout-1 .image-container {
    position: relative;
}

.frame-type-image.frame-layout-1 .description-hover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}
.frame-type-image.frame-layout-1 .description-hover:hover {
    background: rgba(47, 83, 73, 0.9);
    opacity: 1;
    transition: all .2s ease;
}